* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
}

p {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 5px;
}

/* changing the color of the first line of the paragraph of the container and bold the first letter */
.container p::first-line {
  color: green;
}
.container p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

/* using pseudo class change the background color when focus on input and change the color of item when hover */
input:focus {
  background-color: aqua;
}
ul li:hover {
  color: red;
}