* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

body {
  font-family: Arial, sans-serif;
}

@media (max-width: 576px) {
  .phone {
    color: red;
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  .tablet {
    color: red;
    text-decoration: underline;
  }
}
@media (max-width: 992px) {
  .laptop {
    color: red;
    text-decoration: underline;
  }
}
@media (max-width: 1024px) {
  .desktop {
    color: red;
    text-decoration: underline;
  }
}
@media (min-width: 1025px) {
  .widescreen {
    color: red;
    text-decoration: underline;
  }
}