.background {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 64, 50, 0.8), rgba(71, 17, 116, 0.9)),
        url(./images/background.jpg) no-repeat center/cover
}

.logo {
    cursor: pointer;
}

.nav1 {
    max-width: 1280px;
    margin: 0 auto;
    padding-block: 20px;

    display: flex;
    justify-content: space-between;
}

.nav2 {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.form-article {
    max-width: 900px;
    margin: 50px auto;
    color: white;
}

.side1 {
    display: grid;
    gap: 25px;
}

.input-field {
    display: grid;
}

.input-fieldx {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 3px;
}

.input-fieldy {
    margin-top: 10px;
    padding: 12px;
    height: 70px;
    border: none;
    border-radius: 3px;
}

.input-field input,
.input-field textarea {
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: 0;
}

input::placeholder,
textarea::placeholder {
    color: rgb(218, 201, 201);
    opacity: 1;
}

.btn {
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #f36334;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.side2 {
    max-width: 400px;
}

@media (min-width: 576px) {
    .responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
@media (max-width: 575px) {
    .responsive {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}
@media (max-width: 600px) {
    .navResponse {
        display: none;
    }
}
@media (min-width: 800px) {
    .responsive {
        gap: 100px;
    }
}
@media (max-width: 799px) {
    .responsive {
        gap: 50px;
    }
}