/*** Utility properties and classes ***/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #fc5d66;
    --color2: #ffc05a;
    --color3: #f9fafb;
    --color4: #272d35;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.btn {
    display: inline-block;
    padding: 12px 22px;
    border: 1px solid var(--color2);
    border-radius: 32px;
    background: var(--color2);
    color: var(--color4);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 5px violet;
    transition: all 0.3s;
}

.btn:hover {
    background: var(--color1);
    color: #fff;
    border-color: #fff;
}

.section-gap {
    margin-top: 100px;
}

.title1 h1 {
    text-align: center;
    color: var(--color4);
}

.title1 div {
    width: 70px;
    height: 5px;
    margin: 10px auto;
    background-color: var(--color1);
}

.title1 p {
    max-width: 650px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
    color: var(--color4);
}

.title2 h1 {
    color: var(--color4);
}

.title2 div {
    width: 70px;
    height: 5px;
    margin-block: 10px;
    background-color: var(--color1);
}

.title2 p {
    max-width: 650px;
    max-width: 650px;
    font-size: 18px;
    margin-block: 30px;
    color: var(--color4);
}



/*** Navbar ***/
.navbar img {
    width: 82px;
    height: 32px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: var(--color2);
}

.navbar i {
    font-size: 20px;
}

.navbar {
    background: transparent;
    color: white;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
    background-color: rgba(235, 77, 85, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
}


/* Hamburger Menu */
.hamburger-menu {
    display: none;
}

.hamburger-icon {
    color: white;
    cursor: pointer;
}

.hamburger-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 100%);
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.hamburger-menu-items.active {
    transform: translateX(0);
}

.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    font-size: 18px
}

/*** Hero section ***/
.hero-section {
    background: black url('../images/header-background.jpg') center/cover no-repeat;
    color: white;
}

.hero-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero-content {
    margin: auto 0px;

}

.hero-content h1 {
    max-width: 400px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-content p {
    max-width: 550px;
    font-size: 18px;
    margin-block: 20px;
}


/*** Learn section ***/
.learn-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.learn-section-grid img {
    border-radius: 5px;
}

/*** Course section ***/
.course-section-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.course-section-grid img {
    max-width: 120px;
}

.course-section-card p {
    font-size: 14px;
    color: var(--color4);
}

.course-section-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/*** Course summary section ***/
.course-summary-section {
    background-color: #F9FAFB;
}

.course-summary-title-gap {
    padding-block: 50px;
}

.course-summary-content {
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.course-summary-content h3 {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: var(--color1);
    border-radius: 5px;
}

.course-summary-content p {
    margin-block: 20px;
    color: var(--color4);
}

.course-summary-content hr {
    background: rgb(250, 247, 247);
    margin-block: 10px;
}

.course-for-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: var(--color1);
}

.course-for-content {
    padding: 50px;
}

.course-for-content p {
    margin-block: 20px;
}

.course-for-content i {
    color: var(--color2);
    margin-right: 10px;
}

.content-type {
    font-weight: bold;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-for-grid img {
    height: 100%;
}

/*** Takeaway section ***/
.takeaway-section-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.takeaway-section-card {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.takeaway-section-card i {
    font-size: 50px;
    color: var(--color1);
}

.takeaway-section-card span {
    font-weight: bold;
}

/*** course+author details section ***/
.course-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.course-details-grid img {
    max-width: 500px;
}

.author-details i {
    color: var(--color1);
}

.author-details span {
    font-weight: bold;
}

.author-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.author-details-flex {
    display: flex;
    gap: 15px;
    align-items: center;
}

/*** get course section ***/
.get-course {
    background: white url('../images/stats-background.jpg') center/cover no-repeat;
    padding-block: 50px;
}

.get-course-details {
    color: white;
}

.get-course-flex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}

.get-course-flex p {
    font-size: 14px;
}

.get-course-description {
    margin-block: 30px;
}

/*** subscribe section ***/
.subscribe-section {
    background-color: var(--color3);
    border: 1px solid gainsboro;
    padding: 50px;
    text-align: center;
}

.subscribe-section p {
    color: var(--color4);
    max-width: 600px;
    margin: 20px auto;
}

.subscribe-section input {
    padding: 15px 25px;
    border-radius: 25px;
    max-width: 330px;
    margin: 20px auto;
    width: 100%;
    border: 1px solid gainsboro;

}

/* Contact us section */

.contact-form {
    background-color: var(--color3);
    border-radius: 5px;
    padding: 30px;
    border: 1px solid gainsboro;
}

.contact-form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
textarea {
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

input:focus {
    outline: 1px solid gray;
}

textarea:focus {
    outline: 1px solid gray;
}

.contact-form textarea {
    height: 70px;
}

/* map */
.location p {
    margin-block: 30px;
}

.location .map {
    overflow: hidden;
    position: relative;
    height: 0;
    margin-bottom: 0px;
    padding-bottom: 50%;
    border-radius: 5px;
}

.location .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer section */
.footer-section {
    background-color: black;
    color: white;
    padding-block: 70px;
}
.footer-menu-list a {
    color: white;
}
.footer-menu-list {
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social a {
    color: white;
}
.social i {
    font-size: 30px;
}
.social {
    margin-block: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.reserved {
    text-align: center;
}

/*** Media Queries ***/
@media (max-width: 1000px) {
    .course-section-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .course-for-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .course-for-content {
        padding: 20px;
    }

    .takeaway-section-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .main-menu-items {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hero-flex {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .hero-content h1 {
        max-width: 500px;
        margin: 0px auto;
        font-size: 40px;

    }

    .hero-content p {
        max-width: 550px;
        margin: 0px auto;
        font-size: 16px;
        margin-block: 20px;
    }

    .hero-content {
        text-align: center;
    }

    .title1 h1 {
        font-size: 30px;
    }

    .title1 p {
        max-width: 700px;
        text-align: center;
        font-size: 16px;
    }

    .learn-section-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .learn-section-grid h4 {
        font-size: 14px;
    }

    .course-section-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .course-for-content h1 {
        font-size: 25px;
    }

    .takeaway-section-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .course-details-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .course-details-grid .img-div {
        text-align: center;
    }

    .reverse-items {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (max-width: 576px) {
    .learn-section-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .subscribe-section {
        padding: 30px;
    }

    .subscribe-section p {
        font-size: 14px;
    }

    .subscribe-section input {
        width: 80%;
    }
    .footer-menu-list {
        font-size: 10px;
        gap: 7px;
    }
}