* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

nav img {
  max-width: 50px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2f6a94;
  font-size: 14px;
  font-weight: bold;
}
.navbar {
  background-color: #e0e5e8;
  padding: 10px;
}

.navbar-flex {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar a:hover {
  color: blue;
}
.hamburger-menu-items {
  position: absolute;
  top: 70px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #d1d6da;
  text-align: center;

  transition: transform 0.3s ease;
  transform: translateX(100%);
}
.hamburger-menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hamburger-menu-toggle {
  cursor: pointer;
}
.hamburger-menu-items.active {
  transform: translateX(0%);
}

/* Responsive */
@media (max-width: 576px) {
  .main-menu {
    display: none;
  }
}

@media (min-width: 577px) {
  .hamburger-menu {
    display: none;
  }
}


