* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 2rem;
}

/* 
> Child Combinator
+ General Sibling Combinator
~ Adjacent Sibling Combinator
*/

/* color all the paragraph red which are in the container  */
.container p {
  color: red;
}
/* underline the paragraph which are immediate children of container*/
.container>p {
  text-decoration: underline 2px solid black;
}

/* bold the links that are direct children of container */
.container > a {
  font-weight: bold;
}
/* Get the immidiate sibling link after h1 */
.container h1+a {
  color: green;
}


