.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 35px;
    height: 35px;
    /* background-color: gray; */
    position: relative;

    animation: spin 2s linear infinite;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.circle1 {
    background-color: red;

    position: absolute;
    top: 0px;
    left: 0px;
}

.circle2 {
    background-color: green;

    position: absolute;
    top: 0px;
    right: 0px;
}

.circle3 {
    background-color: blue;

    position: absolute;
    bottom: 0px;
    left: 0px;
}

.circle4 {
    background-color: yellow;

    position: absolute;
    bottom: 0px;
    right: 0px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}