body {
  font-family: Arial, sans-serif;
}

.cls1 {
  display: none;
}

.cls2 {
  visibility: hidden;
}

.cls3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cls4 {
  width: 100px;
  height: 100px;
  background-color: orange;
  text-align: center;
}

.cls5 {
  display: flex;
  gap: 20px;
}
.cls6 {
  width: 100px;
  height: 100px;
  background-color: green;
  text-align: center;
}