* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 10px auto;
    padding-inline: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;

    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.navx .active {
    background-color: #FCF5E9;
    color: rgb(216, 108, 69);
    padding: 5px 8px;
    border-radius: 3px;
}

.title1 {
    max-width: 850px;
    margin: 60px auto;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: #333;
}

.title2 {
    background: linear-gradient(to right, #ff0080, #00ccff, #ffcc00);
    background-clip: text;
    color: transparent;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.img-grid img {
    width: 100%;
    border-radius: 5px;
}

.img-grid img:hover {
    opacity: 0.8;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer img {
    max-height: 40px;
}
.footerx {
    color: #333;
    margin-block: 10px;
}
.social {
    display: flex;
    gap: 15px;
}