body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 50px;
}
.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
/* horizontal, vertical, shadow, color */
.box-1 {
  box-shadow: 10px 10px black;
}
.box-2 {
  box-shadow: 10px 10px 15px black;
}
.box-3 {
  box-shadow: -10px -10px 5px red;
}
