body {
  --bg-color: red;
  --text-color: white;
  --color1: rgb(83, 223, 139);
}

.container {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  text-align: center;
}
.box1 {
  height: 350px;
  width: 350px;
  border: 2px solid var(--bg-color);
  text-align: center;
}
.box2 {
  height: 150px;
  width: 150px;
  border: 2px solid green;
  text-align: center;
}
.btn {
  padding: 5px;
  background-color: var(--color1);
  color: var(--text-color);
}