body {
  font-family: Arial, sans-serif;
}

.box {
  width: 100px ;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  background-color: goldenrod;
  border: 1px solid black;
}

.box1 {
  position: static;
}
.box2 {
  position: relative;
  left: 150px;
}
.box3 {
  position: fixed;
}
