body {
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;

  transform-style: preserve-3d;
  transition: transform .5s ease;
}
.card:hover {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
}

.back {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateY(180deg);
  backface-visibility: hidden;
}
